{% block title %}Login | ProgramIT{% endblock %} 
{%block content %}
<body>
  <div>
    <h1>
      Login<span>()</span>:
    </h1>
    <p>
      <span>#</span> Sign in to your account
    </p>
    {% if form.non_field_errors %}
    <div>
      {% for err in form.non_field_errors %}
      <div>{{ err }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'log_into_acc' %}" class="space-y-4">
      <!-- USERNAME -->
      <div>
        {% csrf_token %}
        <label for="username" class="block text-[#56b6c2] font-medium mb-1">
          username<span class="text-[#5c6370]"> =</span>
        </label>
        <input
          type="text"
          id="username"
          name="username"
          required
          
        />
      </div>

      <!-- PASSWORD -->
      <div>
        <label for="password" class="block text-[#56b6c2] font-medium mb-1">
          password<span class="text-[#5c6370]"> =</span>
        </label>
        <input
          type="password"
          id="password"
          name="password"
          required
        />
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <span
          <li>
            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{
            message }}
          </li>
        </span>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="pt-4">
        <button
          type="submit">
          <span >return</span>
          <span >Login</span>
        </button>
      </div>
    </form>
    <p>
      <span >#</span> Don't have an account?
      <a href="{% url 'register' %}">Register</a>
    </p>
  </div>
</body>
{% endblock %}
