<!-- login.html w Django template (czysty HTML + CSS + JS) -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white shadow rounded-2xl p-8 w-96">
    <h1 class="text-2xl font-bold text-center mb-6">Register</h1>
    <form method="POST" action="{% url 'register' %}" class="space-y-4">
    {% csrf_token %}
        <div>
            {% csrf_token %}
            <label for="username" class="block text-gray-700 font-medium mb-1">Name account</label>
            <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        {{ form.username }}
        <br />

        <label for="id_email">Email:</label>
        {{ form.email }}
        <br />

        <label for="id_password1">Password:</label>
        {{ form.password1 }}
        <br />

        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
        <br />

        <button type="submit">Register</button>
        </form>
        </div>
    </body>
</html>