<!-- home.html w Django template (czysty HTML + CSS + JS) -->
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stoper</title>

  
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gray-100">
  <nav class="flex justify-between items-center bg-white shadow px-6 py-4">
    <div class="flex space-x-6 font-semibold text-gray-700">
      <a href="/" class="hover:text-blue-600">Home</a>
      <a href="/stats" class="hover:text-blue-600">Stats</a>
      <a href="/work" class="hover:text-blue-600">Work</a>
      <a href="/stats" class="hover:text-blue-600">Login</a>
      <script src="script.js"></script>
    </div>
    <div class="flex items-center space-x-3">
      <a href="profile/"><div class="w-10 h-10 rounded-full bg-gray-300"></div></a>
      
    </div>
  </nav>
 <main class="flex flex-col items-center justify-center mt-20">
    </div>
    <br>
    <div class="bg-white rounded-2xl shadow p-6 w-80 text-center">
      <h1 class="text-xl font-bold mb-4">Profile Stats</h1>
      <ul>
        {% for time in times %}
          <li>{{ time.get_duration }} | {{time.category}}</li>
        {% empty %}
          <li>No times recorded yet.</li>
        {% endfor %}
      </ul>
    </div>
  </main>
</body>
</html>
</html>
